body{
	background-color: black;
	color:white;
	width: 500px;
}
div{
	border:1px dotted gray;
	padding: 10px;
	margin:10px;
}

.table1 th{
	border:1px solid black;
	padding: 10px;
	margin:10px;
	background: #0083ff;
}

.table1 td{
	border:1px solid black;
	padding: 10px;
	margin:10px;
	background: white;
	color:black;
}

span.current{
	border:1px solid #804040;
	padding: 10px;
	margin:10px;
	background: #804040;
	
}

span.notCurrent{
	border:1px solid #808080;
	padding: 10px;
	margin:10px;
	background: white;
	
	
}

span.notCurrent a{
	text-decoration: none;
}

.logo{
	position: absolute;
	margin-left: 550px;
	width: 600px;
	height: 250px;
	background-image: url("bank.png");
	margin-top: 15%;
}